<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav" style="margin:0 auto;text-align:center">
                <div style="margin-left:auto;margin-right:auto;text-align:center">
                    <h5>
                        {{ currentDate | date: 'shortDate'}} Finished Games
                    </h5>
                </div>
            </div>
        </div>
    </nav>
</body>
</html>