@font-face {
    font-family: 'PermanentMarker';
    src: url('assets/fonts/Permanent_Marker/PermanentMarker-Regular.ttf');
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: 'Lexend';
    src: url('assets/fonts/Lexend/Lexend-VariableFont_wght.ttf');
    font-weight: normal;
    font-size: normal;
}
